{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Measurements{% endblock %} (<a href="{{ url_for('content.index') }}">Zurück</a>)</h1>
{% endblock %}

{% block content %}
  {% if selected_measurements | length %}
  <form method="POST" action="{{ request.url }}">
    Do you really want to <u>completely</u> drop following measurements?
    <ul>{% for measurement in selected_measurements %}
      <li>{{ measurement }}</li><input type="hidden" name="measurements" value="{{ measurement }}" />{% endfor %}
    </ul>
    <input type="submit" name="confirm_deletion" value="Yes" />
    <input type="submit" name="abort_deletion" value="Cancel" />
  </form>
  <hr />
  {% endif %}


  <form method="POST" action="{{ request.url }}">
    {% for measurement in ( data.get(database).keys() | sort ) %}
    <input type="checkbox" name="measurements" value="{{ measurement }}"{{ ' checked ' if measurement is in selected_measurements }}/> <a href="{{ url_for('content.measurement', database=database, measurement=measurement) }}">{{ measurement }}</a><br/>{% endfor %}<br/>
    <input type="submit" name="select_measurements" value="Drop selected measurements"/>
  </form>
{% endblock %}
