{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Databases{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul>{% for database in ( data.keys() | sort ) %}
    <li><a href="{{ url_for('content.database', database=database) }}">{{ database }}</a></li>{% endfor %}
  </ul>
{% endblock %}
