{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Series{% endblock %} (<a href="{{ url_for('content.database', database=database) }}">Zurück</a>)</h1>
{% endblock %}

{% block content %}
  <p><strong>{{ database }}</strong>: {{ measurement }}</p>

  {% if selected_series_indices | length %}
  <form method="POST" action="{{ request.url }}">
    Do you really want to delete following series?
    <ul>
      {%- for serie_idx in selected_series_indices %}
      <li>{{ data.get(database).get(measurement).get('series')[serie_idx] }}</li><input type="hidden" name="series" value="{{ serie_idx }}" />
      {%- endfor %}
    </ul>
    <input type="submit" name="confirm_deletion" value="Yes" />
    <input type="submit" name="abort_deletion" value="Cancel" />
  </form>
  <hr />
  {% endif %}

  <form method="POST" action="{{ request.url }}">
    <table>
      <tr>
        <th></th>
        {%- for tag in ( data.get(database).get(measurement).get('tags') | sort ) %}
        <th>{{ tag }}</th>
        {%- endfor %}
      <tr>
      {%- for serie in data.get(database).get(measurement).get('series') %}
      <tr>
        <td><input type="checkbox" name="series" value="{{ loop.index0 }}"{{ ' checked ' if loop.index0 is in selected_series_indices }}/></td>
        {%- for tag in data.get(database).get(measurement).get('tags') | sort %}
        <td>{{ serie[tag] | d('!! EMPTY !!') }}</td>
        {%- endfor %}
      <tr>{% endfor %}
    </table>
    <input type="submit" name="select_series" value="Delete selected series in '{{ database }}.{{ measurement }}'"/>
  </form>
{% endblock %}
