<!doctype html>
<title>{% block title %}{% endblock %} - Influx Admin Proxy</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<nav>
  {% if current_user.is_authenticated %}
    <b>{{ current_user.username }}:</b> <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
